body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #55585E;
  background-color: azure;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sideBar {
  border-right: 1px solid #55585E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 2em;
  width: 20em;
  height: 100%;
  height: auto;
  height: 100vh;
}

.sideBar > * {
  padding: 1em 0;
}

#homeLogo {
  font-weight: 900;
  text-decoration: none;
  text-transform: lowercase;
  font-size: 1.5em;
  color: #008cff;
  letter-spacing: 2px;
  margin-top: 1em;
  padding-left: 1em;
}

.user-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.user-content > * {
  padding: 1em;
}

.user-content img {
  border-radius: 50%;
  width: 6em;
}

#greeting {
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 1.5px;
}

#username {
  color: #008cff;
}

.cashblastr-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cashblastr-info > * {
  padding: .5em 0;
}

.cashblastr-info-transfer {
  font-weight: 600;
  font-size: .9em;
}

.cashblastr-CC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cashblastr-CC-title {
  color: #2F3033;
}

.cashblastr-CC-subtext {
  font-size: .8em;
  font-weight: 300;
  padding: 1em 0;
}

.cashblastr-CC-subtext a {
  text-decoration: none;
  color: #008cff;
  font-weight: 600;
}

.navbar {
  width: 100%;
}

.navbar ul {
  padding: 0;
  list-style-type: none;
}

.navbar li {
  margin: 1.2em 0;
}

.navbar li a {
  color: #55585E;
  text-decoration: none;
  letter-spacing: 1.5px;
  -webkit-transition: color .15s;
  transition: color .15s;
}

.navbar li a:hover {
  color: #008cff;
}

#pay {
  border: none;
  border-radius: 30px;
  height: 3em;
  width: 16em;
  background-color: #008cff;
  color: white;
  letter-spacing: 1px;
  font-size: 1em;
  margin-right: 2em;
  -webkit-transition: ease all .25s;
  transition: ease all .25s;
}

#pay:hover {
  -webkit-filter: saturate(0.6);
          filter: saturate(0.6);
}

.main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-feed {
  height: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer {
  background-color: aliceblue;
  padding: 2em;
  font-size: .8em;
  border-top: 1px solid #55585E;
}

footer a {
  color: #008cff;
}
