@import "variables";

body {
   // background-color: lightblue;
   box-sizing: border-box;
   margin: 0;
   font-family: 'Roboto', sans-serif;
   color: $ltgrey;
   background-color: azure;
   display: flex;
}

.sideBar {
   // border: 2px solid gold;
   // margin: 0;
   border-right: 1px solid $ltgrey;
   display: flex;
   flex-direction: column;
   padding-left: 2em;
   // align-items: center;
   width: 20em;
   height: 100%;
   height: auto;
   height: 100vh;

   &>* {
      padding: 1em 0;

   }

}

#homeLogo {
   font-weight: 900;
   text-decoration: none;
   text-transform: lowercase;
   font-size: 1.5em;
   color: $blue;
   letter-spacing: 2px;
   margin-top: 1em;
   padding-left: 1em;
   // border: 2px solid blue;

}

.user-content {
   display: flex;
   flex-direction: row;

   &>* {
      padding: 1em;

   }

   img {
      border-radius: 50%;
      width: 6em;
   }

   // border: 2px solid green;
   &-text {

      // display: flex;
      // flex-direction: column;
      // border: 2px solid orange;
      // align-items: center;
      // justify-content: flex-start;
      &>* {
         // margin: 2em ;
         // padding: 2em;
         // border: 2px solid green;

      }
   }
}

#greeting {
   font-size: 1.2em;
   font-weight: 700;
   letter-spacing: 1.5px;

}

#username {
   color: $blue;
}

.cashblastr-info {
   display: flex;
   flex-direction: column;

   &>* {

      padding: .5em 0;
   }

   &-balance {
      // color: purple;
   }

   &-transfer {
      // color: green;
      font-weight: 600;
      font-size: .9em;
   }

   // border: 2px solid orange;

}

.cashblastr-CC {
   display: flex;
   flex-direction: column;

   &-title {
      color: $dkgrey;
   }

   &-subtext {
      // color: orange;
      font-size: .8em;
      font-weight: 300;
      padding: 1em 0;

      a {
         text-decoration: none;
         color: $blue;
         font-weight: 600;
      }
   }
}

.navbar {
   // display: flex;
   // flex-direction: column;
   // flex-wrap: nowrap;
   // align-content: flex-end;
   // justify-content: flex-start;
   // position: sticky;
   width: 100%;

   // top: 0;
   // border: 2px solid red;
   & ul {
      padding: 0;
      // overflow: hidden;
      list-style-type: none;
      // margin: 10px;
   }

   & li {
      // border: 2px solid black;
      // display: inline-block;
      // text-decoration: none;
      // text-align: left;
      // padding: 20px 32px 88px;
      // &>*{
      margin: 1.2em 0;

      // }
   }

   & li a {
      color: $ltgrey;
      text-decoration: none;
      // display: block;
      letter-spacing: 1.5px;
      transition: color .15s;

      &:hover {
         // text-decoration: underline;
         color: $blue;
         // font-weight: 700;
      }
   }

}

#pay {
   border: none;
   // border: 2px solid gold;
   border-radius: 30px;
   height: 3em;
   // padding: 1em;
   width: 16em;
   background-color: $blue;
   color: white;
   letter-spacing: 1px;
   font-size: 1em;
   margin-right: 2em ;
   transition: ease all .25s;

   &:hover {
      filter: saturate(.6);
   }
}

.main {
   // border: 2px solid orange;

   // background-color: blue;
   width: 100%;
   // height: 200px;
   // background-color: lawngreen;
   display: flex;
   flex-direction: column;
   &-feed {
      // background-color: purple;
      height: 90%;
      flex-direction: column;
   }

}

footer {
   // margin-left: 27.5em;
   background-color: aliceblue;
   padding: 2em;
   font-size: .8em;
   border-top: 1px solid $ltgrey;
   // border-left: 1px solid $ltgrey;

   a {
      color: $blue;

   }

   // background-color: lightcoral;
   // border: 2px solid green;
}